:root{
    --bg-color: #121212;
    --card-bg: #171717;
    --nav-icon-color: #009C4D;
    --font-regular: 'Nunito';
    --search-bg: #E9E9E9;
    --track-name-color: #ECECEC;
    --track-artist-color: #9C9C9C;
}

body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}


nav{
    text-align: center;
    margin-top: 2rem;
}

nav li{
    display: inline;
    list-style: none;
    margin: 0px 1rem;
}


nav i{
    color: var(--nav-icon-color);
    font-size: 2rem;
}

main{
    margin: 0px 20%;
}

.search-container{
    height: 2.5rem;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

input[type=text]{
    border: none;
    width: 35%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--search-bg);
    font-size: 1rem;
    font-family: var(--font-regular);
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
}

input:focus{
    outline: none;
}

.search-container i{
    position: absolute;
    right: 1rem;
    top: .5rem;
    font-size: 1.3rem;
}

.result-grid{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: 18rem;
    justify-content: space-between;
    grid-row-gap: 1rem;
}

.grid-item{
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 16px;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}

.grid-item:hover{
    transform: scale(1.03);
}

@keyframes itemHover {
    to{
        transform: scale(1.03,1.03);
    }
}


.album-art-container{
    width: 100%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

.album-art{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.grid-item-detail{
    position: relative;
    margin-top: 1.2rem;
    overflow: hidden;
}

.grid-item-detail marquee{
    position: absolute;
    z-index: -1;
}

.grid-item-detail h1{
    line-height: 1px;
    font-family: var(--font-regular);
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--track-name-color);
    white-space: nowrap;
}

.grid-item-detail h2{
    line-height: 1rem;
    font-family: var(--font-regular);
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--track-artist-color);
    white-space: nowrap;
}

/*.grid-item:hover > .grid-item-detail > h1{
    animation: slide 8s;
}*/

@keyframes slide {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-100%);
    }
}

@keyframes slideCancel {
    to{
        transform: translateX(0%);
    }
}