:root{
    --bg-color: #121212;
    --card-bg: #171717;
    --nav-icon-color: #009C4D;
    --font-regular: 'Nunito';
    --search-bg: #E9E9E9;
    --track-name-color: #ECECEC;
    --track-artist-color: #9C9C9C;
    --audio-controls-bg: #00BE5E;
    --description-color: #bfbfbf; 
    --contrast-color: #0056A6;
}

body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}


nav{
    text-align: center;
    margin-top: 2rem;
}

nav li{
    display: inline;
    list-style: none;
    margin: 0px 1rem;
}


nav i{
    color: var(--nav-icon-color);
    font-size: 2rem;
}

header{
    text-align: center;
    font-family: var(--font-regular);
    height: 100vh;
    padding-top: 2rem;
}

header h1{
    font-size: 144px;
    color: #00BE5E;
    letter-spacing: 5px;
    margin: 0;
}

header span{
    font-size: 72px;
    color: #848484;
}

header h2{
    font-size: 48px;
    color: var(--description-color);
    margin-top: 2rem;
}

.emoji-container{
    margin-top: 5rem;
}

.emoji-container img{
    width: 200px;
    margin: 0px 1rem;
}

.about-spot{
    height: 100vh;
    margin: 0 20%;
}

.spot-detail{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sample-album{
    position: relative;
    width: 347px;
    height: 347px;
    background-color: black;
}

.sample-album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#sample-emotion{
    width: 60%;
    height: 60%;
    right: 0;
    bottom: -20%;
    transform: translateX(40%);
    position: absolute;
}

.about-detail{
    box-sizing: border-box;
    width: 50%;
    padding: 2rem;
}

.about-detail h1{
    font-family: var(--font-regular);
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: var(--description-color);
}

.redirect-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
    font-family: var(--font-regular);
}

.redirect-links div{
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    text-align: center;
    display: table;
    margin: 0px 2rem;
    border-radius: 50px;
    transition: transform 250ms ease-in-out;
}

.redirect-links a{
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 2px;
}

.redirect-search{
    background-color: var(--nav-icon-color);
}

.redirect-search:hover{
    transform: scale(1.1);
}

.redirect-article{
    background-color: var(--contrast-color);
}

.redirect-article:hover{
    transform: scale(1.1);
}

main{
    margin: 0px 20%;
    margin-bottom: 1rem;
}

.search-container{
    height: 2.5rem;
    display: flex;
    justify-content: right;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

input[type=text]{
    border: none;
    width: 35%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--search-bg);
    font-size: 1rem;
    font-family: var(--font-regular);
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
}

input:focus{
    outline: none;
}

.search-container i{
    position: absolute;
    right: 1rem;
    top: .5rem;
    font-size: 1.3rem;
}

.result-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: 18rem;
    justify-content: space-between;
    grid-row-gap: 1rem;
}

.grid-item{
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 16px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.grid-item:hover{
    transform: scale(1.03);
}


.album-art-container{
    width: 100%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

.album-art{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.grid-item-detail{
    position: relative;
    margin-top: 1.2rem;
    overflow: hidden;
}

.grid-item-detail h1{
    line-height: 1px;
    font-family: var(--font-regular);
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--track-name-color);
    white-space: nowrap;
}

.grid-item-detail h2{
    line-height: 1rem;
    font-family: var(--font-regular);
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--track-artist-color);
    white-space: nowrap;
}

.main-result{
    margin: 0px 10%;
    margin-top: 5%;;
}

.information-grid{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 29% 65%;
    grid-auto-rows: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.preview-grid{
    position: relative;
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 1.5rem;
}

.preview-grid #emotion{
    position: absolute;
    width: 65%;
    top:-15%;
    right:0;
    transform: translateX(40%);
}

.preview-grid #emotion:hover ~ .mood-label{
    transform: translateX(25%) scale(1);
}

.mood-label{
    position: absolute;
    background: rgb(249,34,228);
    background: linear-gradient(180deg, rgba(249,34,228,1) 0%, rgba(126,0,255,1) 100%);
    color: white;
    font-family: var(--font-regular);
    padding: 1rem;
    border-radius: 10px;
    right:0;
    top: 20%;
    transform: translateX(25%) scale(0);
    transition: transform 250ms ease-in-out;
}

.mood-label h1{
    margin: 0;
}

.preview-art{
    height: 65%;
}

.preview-art img{
    object-fit: cover;
}

.controls-container{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#controls{
    width: 100%;
    height:100%;
    background-color: var(--audio-controls-bg);
    clip-path: polygon(
    0 0, 
    50% 25%, 
    50% 75%, 
    50% 75%, 
    50% 25%, 
    100% 50%, 
    100% 50%, 
    0% 100%);
}

.no-preview{
    font-family: var(--font-regular);
    color: var(--audio-controls-bg);
    width: 100%;
    text-align: center;
    padding: 2px;
}

.no-preview i{
    font-size: 3rem;
    margin: 0;
}

.no-preview p{
    margin: 0;
    line-height: 0;
}

.preview-item-detail{
    font-family: var(--font-regular);
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--track-name-color);
    white-space: nowrap;
    overflow: hidden;
}

.preview-item-detail h1{    
    font-family: var(--font-regular);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--track-name-color);
}

.preview-item-detail h2{
    line-height: 2px;
    font-family: var(--font-regular);
    font-size: 1.2rem;
    letter-spacing: 1px;    
    text-align: center;
    color: var(--track-artist-color);
}

.redirect{
    text-decoration: none;
    font-family: var(--font-regular);
    color: var(--track-artist-color);
}

.redirect:hover{
    text-decoration: underline;
}

.audio-features-grid{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: 25%;
    grid-row-gap: .5rem;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.audio-feature{
    font-family: var(--font-regular);
}

.audio-feature h1{
    font-size: 2.5rem;
    color: var(--track-name-color);
    margin: 0;
}

.audio-feature h2{
    font-size: 1.1rem;
    color: var(--track-artist-color);
    margin: 0;
    position: relative;
}

.audio-feature i{
    font-size: .8rem;
}

.audio-feature i::after{
    position: absolute;
    content: attr(data-description);
    background-color: #232323;
    padding: .5rem;
    border-radius: 5px;
    left: 0;
    top: 2rem;
    width: 20vw;
    transform-origin: top left;
    transform: scale(0);  
    transition: transform 250ms ease-in-out;
    z-index: 1;
    color: rgb(185, 185, 185);
    font-size: 1rem;
}

.audio-feature i:hover::after{  
    transform: scale(1);
}
